<div class="signature" >
	<div class="avatar">
		<img title="<%=user%>" alt="<%=user%>" src="<%=gravatar%>&amp;s=32" height="32" width="32">
	</div>
	<div class="username"><%=user%></div>
	<p class="clear-both"></p>
</div>
<div class="messages">
	<div class="msg">
		<%=msg%>
		<span><%=time%></span>
	</div>
</div>
<p class="clear-both"></p>